body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    color: #0056b3;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 20px;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width:200px;
    box-sizing: border-box;
}

button {
    background-color: #4fdf71;
    color: hsl(0, 37%, 60%);
    border: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #0056b3;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}
